@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  margin: 0px 107px;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #ccc;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header #container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1.6rem;
  transition: all 250ms linear 0s;
}

#content {
  margin-top: 150px;
  width: 55%;
}

.title {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 52px;
}

.subtitle {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
}

#quad1 {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-right: 400px solid #fff;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #fff;
  border-left: 450px solid transparent;
}

#quad2 {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-right: 400px solid #000;
  border-top: 100px solid #fff;
  border-bottom: 100px solid #000;
  border-left: 450px solid #fff;
}

#quad3 {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border-right: 400px solid #000;
  border-top: 100px solid #000;
  border-bottom: 100px solid #fff;
  border-left: 450px solid #fff;
}

#photo {
  width: 500px;
  height: 450px;
  background-color: yellow;
}

#about {
  margin-left: 100px;
  width: 85%;
}

.title-resume {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.subtitle-resume {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
}

.history {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.btn-primary {
  background-color: #f76e6e;
  color: #fff;
  padding: 13px;
  border-radius: 20px;
  width: 222px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.info-value {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.information {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
}

.row-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-profile {
  width: 115%;
  height: 100%;
}

.space-icon {
  margin-right: 17px;
}

.f-nav {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: 900;
}

.container-resume {
  padding-top: 35px;
  flex-direction: row;
  display: flex;
}

/* TIMELINE */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  color: #ccc;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

/* MEDIA QUERIES MENU */
@media (max-width: 540px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #000;
    opacity: 0.5;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
}

@media (max-width: 540px) {
  #quad1 {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    border-right: 180px solid #fff;
    border-top: 80px solid transparent;
    border-bottom: 70px solid #fff;
    border-left: 100px solid transparent;
  }
  
  #quad2 {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    border-right: 180px solid #000;
    border-top: 80px solid #fff;
    border-bottom: 70px solid #000;
    border-left: 100px solid #fff;
  }
  
  #quad3 {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    border-right: 100px solid #000;
    border-top: 70px solid #000;
    border-bottom: 80px solid #fff;
    border-left: 180px solid #fff;
  }

  .container-resume {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #about {
    margin-left: 0px;
    align-items: center;
    width: 100%;
  }

  .information .row {
    grid-template-columns: 1fr;
  }

  .row-grid {
    padding-bottom: 10px;
  }

  .space-icon {
    margin-right: 8px;
  }

  .container-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #content {
    width: 100%;
  }
}
